$slide_duration: 0.7s;
$slide_offset: 50px;
$fade_duration: 0.5s;

// 右スライド
.slide-right-enter-active,
.slide-right-leave-active {
  transition: all $slide_duration;
}
.slide-right-enter,
.slide-right-leave-active {
  opacity: 0;
}
.slide-right-enter {
  transform: translateX(-$slide_offset);
}
.slide-right-leave-active {
  transform: translateX($slide_offset);
}

// 左スライド
.slide-left-enter-active,
.slide-left-leave-active {
  transition: all $slide_duration;
}
.slide-left-enter,
.slide-left-leave-active {
  opacity: 0;
}
.slide-left-enter {
  transform: translateX($slide_offset);
}
.slide-left-leave-active {
  transform: translateX(-$slide_offset);
}

// 上スライド
.slide-up-enter-active,
.slide-up-leave-active {
  transition: all $slide_duration;
}
.slide-up-enter,
.slide-up-leave-active {
  opacity: 0;
  transform: translateY($slide_offset);
}

// フェード
.fade-enter-active,
.fade-leave-active {
  transition: all $fade_duration;
}
.fade-enter,
.fade-leave-active {
  opacity: 0;
}
