$c_primary: #485fc7;
$c_white: #fff;
$c_black: #363636;
$c_border: #888;
$c_border_light: #dbdbdb;

$z_nav: 999;
$z_overlay: 9999;

$break_point_items: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);
